@use "breakpoints" as *;

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1260px
);

$container-max: none;

.container,
.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.container {
	max-width: if($container-max != none, $container-max, 100%);

	@each $name, $value in $container-max-widths {
		@include media-breakpoint-up($name) {
			@if $container-max == none {
				max-width: $value;
			} @else {
				max-width: min(#{$value}, #{$container-max});
			}
		}
	}
}

.container-fluid {
	max-width: 100%;
}
